body {
  font-family: "Montserrat", sans-serif;
  background: #f7fbff;
  margin: 0;
  padding: 2rem;
  color: #333;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #0072ff;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.input-group label {
  display: block;
  margin-top: 1rem;
  font-weight: 500;
}

.input-group input[type="number"],
.input-group select {
  width: 100%;
  padding: 10px;
  margin-top: 0.25rem;
  border-radius: 10px;
  border: 2px solid #00a6fb;
  background-color: #d6f1ff;
  font-size: 1rem;
}

.boton-estilo {
  padding: 1rem 2rem;
  margin-top: 2rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background: linear-gradient(to bottom right, #00c6ff, #0072ff);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.boton-estilo:hover {
  background: linear-gradient(to bottom right, #0072ff, #00c6ff);
  transform: translateY(-2px);
}

#output {
  margin-top: 2rem;
}

.recomendacion {
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}
